name: Test

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20

    steps:
      - uses: actions/checkout@v3
      - run: go test ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
